<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.CrearUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEncuestaServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.CrearEncuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCuentaServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ModificarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCuentaServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ActualizarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarCuentaServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.DesactivarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarCuentaServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ActivarCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEncuestadorServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ModificarEncuestadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEncuestadorServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.CrearEncuestadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEncuestadorServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ActualizarEncuestadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarEncuestadorServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.DesactivarEncuestadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivarEncuestadorServlet</servlet-name>
        <servlet-class>cl.proyecto.servlet.ActivarEncuestadorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioServlet</servlet-name>
        <url-pattern>/CrearUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEncuestaServlet</servlet-name>
        <url-pattern>/CrearEncuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCuentaServlet</servlet-name>
        <url-pattern>/ModificarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCuentaServlet</servlet-name>
        <url-pattern>/ActualizarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarCuentaServlet</servlet-name>
        <url-pattern>/DesactivarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarCuentaServlet</servlet-name>
        <url-pattern>/ActivarCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEncuestadorServlet</servlet-name>
        <url-pattern>/ModificarEncuestadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEncuestadorServlet</servlet-name>
        <url-pattern>/CrearEncuestadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEncuestadorServlet</servlet-name>
        <url-pattern>/ActualizarEncuestadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarEncuestadorServlet</servlet-name>
        <url-pattern>/DesactivarEncuestadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivarEncuestadorServlet</servlet-name>
        <url-pattern>/ActivarEncuestadorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
