.error{
    font-family: Ubuntu-Bold;
    color: #FF0000;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
}